In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [15]:
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
Answer:-
1)loc:-
loc will print the all the data with upper bound df.loc[0:2]
2)iloc:-
loc will print the all the data with not with upper bound df.iloc[0:2]

In [17]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.971776  0.769419  0.564894  0.862525  0.401929  0.134875
2  0.853552  0.837894  0.536981  0.142067  0.127689  0.368020
3  0.875121  0.185177  0.743366  0.387856  0.959860  0.370421
4  0.102259  0.588305  0.272095  0.002010  0.376875  0.779176
5  0.795768  0.508699  0.074994  0.004158  0.962872  0.236298
6  0.841638  0.125348  0.060773  0.866255  0.921980  0.389964

In [20]:
new_df=df1.reindex([3,0,1,2])
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.875121  0.185177  0.743366  0.387856  0.959860  0.370421
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.971776  0.769419  0.564894  0.862525  0.401929  0.134875
2  0.853552  0.837894  0.536981  0.142067  0.127689  0.368020

In [23]:
new_df.loc[2]

column_1    0.971776
column_2    0.769419
column_3    0.564894
column_4    0.862525
column_5    0.401929
column_6    0.134875
Name: 1, dtype: float64

In [22]:
new_df.iloc[2]

column_1    0.971776
column_2    0.769419
column_3    0.564894
column_4    0.862525
column_5    0.401929
column_6    0.134875
Name: 1, dtype: float64

Answer:-
loc will consider till row 2nd and iloc will only consider 1st row.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [27]:
L=[]
L.append(df1["column_1"].mean())
L.append(df1["column_2"].mean())
L.append(df1["column_3"].mean())
L.append(df1["column_4"].mean())
L.append(df1["column_5"].mean())
L.append(df1["column_6"].mean())
L

[0.7400189599265827,
 0.5024738236548204,
 0.3755173210520531,
 0.37747846194576856,
 0.6252006903018515,
 0.3797925076058553]

In [28]:
M=[]
M.append(df1["column_1"].std())
M.append(df1["column_2"].std())
M.append(df1["column_3"].std())
M.append(df1["column_4"].std())
M.append(df1["column_5"].std())
M.append(df1["column_6"].std())
M

[0.31781292768272434,
 0.29464328366322984,
 0.2818940799439534,
 0.4025030340189459,
 0.36691415115265796,
 0.219277133991571]

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

Answer:-
string objects can't to mathematical operations so this will show error.

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
We generally use the windows functions if we are dealing with time series data. So, if we want to know what has happened at some point in time, we can use the windows function in Pandas. Let us now learn about the various Windows Functions and operations in this section.

1. Group by.
2. Rolling.

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [32]:
import datetime
timestamp = pd.Timestamp(datetime.datetime(2023, 2, 27))
timestamp

Timestamp('2023-02-27 00:00:00')

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [35]:
dt = pd.to_datetime('2022-06-20')
dt1=pd.to_datetime('2022-06-21')
dt2=dt1-dt
dt2

Timedelta('1 days 00:00:00')

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [43]:
data=pd.read_csv("taxonomy.csv.xls")
d=sorted(data["taxonomy_id"])
d

['101',
 '101-01',
 '101-02',
 '101-02-01',
 '101-02-02',
 '101-02-03',
 '101-02-04',
 '101-02-05',
 '101-02-06',
 '101-03',
 '101-04',
 '101-05',
 '101-06',
 '101-06-01',
 '101-06-02',
 '101-07',
 '102',
 '102-01',
 '102-02',
 '102-03',
 '102-04',
 '102-05',
 '102-06',
 '102-06-02',
 '102-07',
 '103',
 '103-01',
 '103-02',
 '103-03',
 '103-03-02',
 '103-03-03',
 '103-03-04',
 '103-03-05',
 '103-04',
 '103-04-01',
 '103-04-02',
 '103-05',
 '103-05-02',
 '103-05-02-01',
 '103-05-02-02',
 '103-05-02-03',
 '103-05-02-04',
 '103-05-03',
 '103-05-04',
 '103-05-04-01',
 '103-05-04-02',
 '104',
 '104-01',
 '104-01-01',
 '104-01-02',
 '104-02',
 '104-02-01',
 '104-02-02',
 '104-02-03',
 '104-02-04',
 '104-03',
 '104-03-01',
 '104-03-02',
 '104-03-03',
 '104-03-04',
 '104-03-05',
 '104-04',
 '104-05-01',
 '104-06',
 '105',
 '105-01',
 '105-01-01',
 '105-01-02',
 '105-02',
 '105-02-01',
 '105-02-02',
 '106',
 '106-01',
 '106-01-01',
 '106-01-02',
 '106-01-04',
 '106-01-05',
 '106-01-06',
 '106-02',
 '106-03',
 '106-03-01',
 '106-03-02',
 '106-03-03',
 '106-03-04',
 '106-04',
 '106-04-01',
 '106-04-02',
 '106-04-03',
 '106-04-04',
 '106-04-05',
 '106-04-06',
 '106-04-07',
 '106-04-08',
 '106-05',
 '106-05-02',
 '106-05-03',
 '106-05-04',
 '106-05-05',
 '106-05-06',
 '106-05-07',
 '106-06',
 '106-06-01',
 '106-06-02',
 '106-06-03',
 '106-06-04',
 '106-06-04-01',
 '106-06-04-02',
 '106-06-04-03',
 '106-06-04-04',
 '106-06-04-05',
 '106-06-04-06',
 '106-06-05',
 '106-06-06',
 '106-06-07',
 '106-06-07-01',
 '106-06-07-02',
 '106-06-07-03',
 '106-06-07-04',
 '106-06-07-05',
 '106-06-07-06',
 '106-06-07-07',
 '106-06-07-08',
 '106-06-07-09',
 '106-06-07-10',
 '106-06-07-11',
 '106-06-08',
 '106-06-09',
 '107',
 '107-02',
 '107-02-01',
 '107-02-02',
 '107-02-02-01',
 '107-02-03',
 '107-02-03-02',
 '107-02-03-03',
 '107-02-03-04',
 '107-02-03-05',
 '107-02-03-06',
 '107-02-03-07',
 '107-02-04',
 '107-02-04-02',
 '107-02-04-03',
 '107-02-04-05',
 '107-02-05',
 '107-02-05-01',
 '107-02-05-03',
 '107-02-05-04',
 '107-02-05-05',
 '107-02-06',
 '107-02-06-01',
 '107-02-06-02',
 '107-02-07',
 '107-03',
 '107-03-01',
 '107-03-02',
 '107-03-03',
 '107-03-04',
 '107-03-05',
 '107-05',
 '107-05-01',
 '107-05-02',
 '107-05-03',
 '107-05-04',
 '107-06',
 '107-06-01',
 '107-06-02',
 '107-07',
 '108',
 '108-01',
 '108-01-01',
 '108-01-02',
 '108-01-03',
 '108-01-04',
 '108-02',
 '108-03',
 '108-03-01',
 '108-03-02',
 '108-03-03',
 '108-03-03-02',
 '108-03-03-04',
 '108-03-04',
 '108-03-05',
 '108-03-06',
 '108-03-07',
 '108-04',
 '108-04-01',
 '108-04-02',
 '108-04-03',
 '108-04-04',
 '108-05',
 '108-05-01',
 '108-05-02',
 '108-05-03',
 '108-05-04',
 '108-05-05',
 '108-06',
 '108-06-01',
 '108-06-02',
 '108-06-03',
 '108-06-04',
 '108-07',
 '108-07-01',
 '108-07-02',
 '108-07-03',
 '108-07-04',
 '108-07-05',
 '108-07-06',
 '108-07-07',
 '108-07-08',
 '108-07-09',
 '108-07-09-01',
 '108-07-09-02',
 '108-07-09-03',
 '108-07-10',
 '109',
 '109-01',
 '109-02',
 '109-02-01',
 '109-02-03',
 '109-02-04',
 '109-02-05',
 '109-03',
 '109-03-01',
 '109-03-02',
 '109-03-03',
 '109-03-04',
 '109-03-04-01',
 '109-03-04-02',
 '109-03-04-03',
 '109-03-05',
 '109-03-06',
 '109-03-07',
 '109-03-07-01',
 '109-03-07-02',
 '109-03-07-03',
 '109-03-07-04',
 '109-03-07-05',
 '109-03-07-06',
 '109-03-07-07',
 '109-03-08',
 '109-03-09',
 '109-03-10',
 '109-04',
 '109-05',
 '109-05-01',
 '109-05-02',
 '109-05-03',
 '109-06',
 '109-06-01',
 '109-06-02',
 '109-06-04',
 '109-06-05',
 '109-06-06',
 '109-06-07',
 '110',
 '110-01',
 '110-01-01',
 '110-01-02',
 '110-02',
 '110-02-01',
 '110-02-02',
 '110-02-03',
 '110-02-04',
 '110-03',
 '110-03-01',
 '110-03-02',
 '110-03-03',
 '110-03-04',
 '110-03-05',
 '110-03-06',
 '110-03-07',
 '110-04',
 '110-05',
 '111',
 '111-01',
 '111-01-01',
 '111-01-01-01',
 '111-01-01-02',
 '111-01-01-03',
 '111-01-01-04',
 '111-01-02',
 '111-01-03',
 '111-01-04',
 '111-01-05',
 '111-01-06',
 '111-01-07',
 '111-02',
 '111-03',
 '111-04',
 '111-05']

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
data=pd.read_csv("")
df=pd.DataFrame(data)
df.plot.bar(x='School', stacked=True, title='The number of Students')

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
data=pd.read_csv("")
df=pd.DataFrame(data)
df["mean"]=df["test scores"].mean()
df["mode"]=df["test scores"].mode()
df["median"]=df["test scores"].median()