Q1. List any five functions of the pandas library with execution.
Answer:-
    1)fillna(n)
    2)iloc()
    3)loc()
    4)describe()
    5)dtypes()

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [11]:


student_dict = {'Name': ['Joe', 'Nat', 'Harry'], 'Age': [20, 21, 19], 'Marks': [85.10, 77.80, 91.54]}


student_df = pd.DataFrame(student_dict, index=['s1', 's2', 's3'])

student_df.index = pd.RangeIndex(start=1, stop=len(student_df)*2, step=2)
student_df

    Name  Age  Marks
1    Joe   20  85.10
3    Nat   21  77.80
5  Harry   19  91.54

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [23]:
student_dict1 = {'Maths':[10, 20, 30, 40, 50]}
student_df=pd.DataFrame(student_dict1)
marks_first_3=sum((student_df['Maths'])[0:3])
marks_first_3

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [38]:
Wood_data={"Text":[1,2,3,4],"Name":['a','b','c','d'],"Type":['w','x','y','z']}
Wood_data
Wood_df=pd.DataFrame(Wood_data)
Wood_df["Word_Count"]=0
Wood_df
Wood_df["Word_Count"]=Wood_df["Text"]
Wood_df

   Text Name Type  Word_Count
0     1    a    w           1
1     2    b    x           2
2     3    c    y           3
3     4    d    z           4

Q5. How are DataFrame.size() and DataFrame.shape() different?
Answer:-
DataFrame.size() can tell you the size of the data frame like how many elements are there in the dataframe.
DataFrame.shape() can tell you the shape of the data frame as columns X Rows present in the dataframe.

Q6. Which function of pandas do we use to read an excel file?
Answer:-
    Df=pd.read_csv(".csv")
    
    read_csv() function can read csv in pandas

Q6. Which function of pandas do we use to read an excel file?

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [55]:
Email_data={"Email":["omkarXXXXX@gamil.com"]}
Email_df=pd.DataFrame(Email_data)
Email_df
Email_df["Username"]=0
Email_df['Email'].str.split("@")[0]

['omkarXXXXX', 'gamil.com']

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [84]:
data={'A':[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]}

df=pd.DataFrame(data)
Values=df[(df[df["A"]>5])["A"] | ((df[df["B"]<10]))["B"]]
Values

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.
Answer:-
Use in build function pd.describe() to get this details.

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

Answer:-
df['MovingAverage']=df['Sales']+df['Date'][0:8]

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [94]:
Dates={"Date":["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05"]}
weekday=["Sunday","Monday","Tuesday","Wednesday","Thursday"]
df=pd.DataFrame(Dates)
df["weekday"]=0
df["weekday"]=weekday[0:len(weekday)]
df

         Date    weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

Answer:-

Dates=df[df["Date"]<='2023-01-01' &df["Date"]>='2023-01-31']

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Answer:
import pandas as pd